body {
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #264653;
}

#timelineRange {
  width: 100%;
}

#timelineRangeLabels {
  list-style: none;
}

#timelineRangeLabels li {
  float: left;
}
